.btn {
    display: inline-block;
    padding: 0.5rem 1.75rem;
    background-color: $PrimaryColor;
    color: $text-white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &-primary {
        background-color: $PrimaryColor;
        text-transform: uppercase;
        border: none;
        color: $text-white;

        // &:hover {
        //     color: $text-white;
        //     //background: linear-gradient(130deg, $PrimaryColor 20%, $SecondaryColor 100%);
        // }
    }

    &-back {
        background-color: transparent;
        color: $FontColor;
        position: absolute;
        left: -16rem;
        cursor: pointer;
    }

    &-about {
        @include circle-btn(#ffc107);
    }

    &-project {
        @include circle-btn(#dc3545);
    }

    &-contact {
        @include circle-btn(#17a2b8);
    }

    &-readmore {
        background-color: $PrimaryColor;
        color: $text-white;
        border: 1px solid $BorderColor;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: $PrimaryHoverColor;
        }
    }

    &-github {
        background-color: $PrimaryColor;
        color: $text-white;
        border: 1px solid $BorderColor;
        border-radius: 0.5rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: $PrimaryHoverColor;
        }
    }
}