.card {
    background-color: $White;
    border-radius: 8px;
    box-shadow: $Shadow;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &-project {
        cursor: pointer;

        .card-image {
            height: 200px;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            padding: 16px;

            .title {
                font-size: 1.25rem;
                font-weight: bold;
                margin-bottom: 8px;
            }

            .des {
                font-size: 1rem;
                color: $FontColor;
                margin-bottom: 16px;
            }
        }

        &:hover {
            .card-body {
                .title {
                    background-image: linear-gradient(90deg, $PrimaryColor 20%, $SecondaryColor 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }

    &-contact {
        padding: 0.5rem 1rem;
        .card-icon {
            width: 1.625rem;
            height: 1.625rem;
        }

        .card-label {
            font-size: 0.75rem;
            font-weight: bold;
            color: $SecondaryColor;
            text-transform: uppercase;
        }

        .card-value {
            font-size: 0.9381rem;
            color: $FontColor;
        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 6px 6px $PrimaryColor;
        }
    }
}

@media screen and (min-width: 768px) {
    .card {
        &-contact {
            padding: 1rem 2rem;
            .card-icon {
                width: 1.75rem;
                height: 1.75rem;
            }

            .card-label {
                font-size: 0.75rem;
                margin-bottom: 4px;
                margin-bottom: 0.25rem;
            }

            .card-value {
                font-size: 1rem;
            }
        }
    }
}