@use "../variables" as *;
@use "../mixins" as *;

.skill-item {
    background-color: rgba($White, 0.05);
    border-radius: 12px;
    transition: all 0.3s ease;
    border: 1px solid transparent;

    .skill-icon {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        filter: grayscale(20%);
        transition: filter 0.3s ease;
    }

    .skill-name {
        color: $FontColor;
        font-size: 0.9rem;
        // text-transform: uppercase;
        letter-spacing: 1px;
    }
}