//BACKGROUND COLOR
$BGColor: #FFFFFF;
$BGColor1: #F8F8F8;

//FONT COLOR
$FontColor: #151515;
$FontColor2: #913BFF;
$text-white: #FFF;
$text-grey: #7A7A7A;

//PRIMARY COLOR
$PrimaryColor: #99CCEE;
$PrimaryHoverColor: #f0f9ff;

//SECONDARY COLOR
$SecondaryColor: #913BFF;
$SecondaryHoverColor: #be99ed;

//Color
$White: #ffffff;
$Black: #2B2B2B;
$MiddleGray: #B7B7B7;
$LightGray: #E4E4E4;
$Blue: #447FEC;

//BorderColor
$BorderColor: #ECEAE9;
$HoverBorderCard: #913BFF;
$BorderInput: #7A7A7A;

//Shadow
$Shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

//Font weight
$weightRegular: 400;
$weightMedium: 500;
$weightSemibold: 600;
$weightBold: 700;

// RADIUS
$Radius2xs: 0.25rem;
$RadiusXs: 0.5rem;
$RadiusSm: 0.375rem;
$RadiusMd: 0.75rem;
$RadiusLg: 1rem;
$RadiusXl: 1.25rem;
$Radius2xl: 1.5rem;
$Radius3xl: 2rem;
$Radius4xl: 2.5rem;
$Radius5xl: 3rem;

// CUSTOM COLORS
$Navy-01 : #181A98;
$Blue-01 : #0075FF;
$Blue-02 : #6CD8FF;
$LightBlue-01 : #CAD5ED;
$LightBlue-02 : #E7EBF5;