#homepage {
    .profile {
        //border-radius: 50%;
        width: 20rem;
        height: auto;
        //box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
        flex-shrink: 0;

        .profile-image {
            top: -2.5rem;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        .profile-bg {
            aspect-ratio: 1 / 1;
            bottom: 0;
            width: 80%;
            background-color: $PrimaryColor;
            border-radius: 50%;
            z-index: -10;
            animation: pulse-ring 2s infinite;
            //background-color: $PrimaryColor;
            //background: linear-gradient(135deg, $PrimaryColor 0%, $SecondaryColor 100%);
        }

        .box-social-link {
            background-color: $White;
            color: $FontColor;
            font-weight: bold;
            padding: 1rem 2rem;
            border-radius: 1rem;
            bottom: -2rem;
            z-index: 11;
        }
    }

    .content-info {
        max-width: 600px;
        text-align: justify;
        h1 {
            font-size: 2rem;
            font-weight: 700;
        }

        h3 {
            color: $text-grey;
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            color: #555;
        }
    }

    .actions {
        gap: 1rem;
        margin-top: 1.5rem;
    }
}

@media (min-width: 640px) {
    #homepage {

        .profile {
            width: 20rem;
        }

        .content-info {
            margin: 0 2rem;
            h1 {
                font-size: 1.75rem;
            }

            h3 {
                font-size: 1.125rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@keyframes pulse-ring {
    0% {
        box-shadow: 
            0 0 0 0 rgba($PrimaryColor, 0.6),
            0 0 0 0 rgba($PrimaryColor, 0.4),
            0 0 0 0 rgba($PrimaryColor, 0.2);
    }
    70% {
        box-shadow: 
            0 0 0 1rem rgba($PrimaryColor, 0),
            0 0 0 2rem rgba($PrimaryColor, 0),
            0 0 0 3rem rgba($PrimaryColor, 0);
    }
    100% {
        box-shadow: 
            0 0 0 0 rgba($PrimaryColor, 0),
            0 0 0 0 rgba($PrimaryColor, 0),
            0 0 0 0 rgba($PrimaryColor, 0);
    }
}