@use 'variables' as *;

#nav {
    padding: 1.25rem 2.5rem;
    border-bottom: 1px solid $BorderColor;
    background-color: $text-white;
    z-index: 999;

    .logo {
        .name {
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            background-image: linear-gradient(90deg, $PrimaryColor 20%, $SecondaryColor 100%);
			-webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    .menu {
        .nav-link {
            font-size: 1rem;
            font-weight: 500;
            color: $FontColor;
            transition: color 0.3s ease;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                top: 1.75rem;
                display: block;
                width: 1.5rem;
                height: 2px;
                background-color: transparent;
                margin: 0 auto;
                transition: background-color 0.3s ease;
            }

            &:hover {
                color: $PrimaryColor;
            }

            &.active {
                color: $PrimaryColor;

                &:after {
                    background-color: $PrimaryColor;
                }
            }
        }
    }
}